.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login input {
    border-radius: 0.8rem;
}

.form-register input {
    border-radius: 0.8rem;
}

.form-login {
    border: 2px solid #bd2c2c;
    border-radius: 1.6rem;
    padding: 2.5rem;
}
Add commentMore actions .form-register {
    border: 2px solid #bd2c2c;
    border-radius: 1.6rem;
    padding: 2.5rem;
}
